name: Test & Lint - Web

on:
  push:
    paths:
      - 'web/**'
  pull_request:
    paths:
      - 'web/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'yarn'
          cache-dependency-path: web/yarn.lock
      - run: cd web && yarn install
      - run: cd web && yarn compile
      - run: cd web && yarn lint
      - run: cd web && yarn test --watchAll=false
